/*  your css code here. If applicable */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if needed */
  background-color: rgba(0,0,0,0.5); /* Black with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-header {
  padding: 10px 16px;
  background-color: #5cb85c;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  padding: 16px;
}

.close-modal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}